.d-flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.flex-dir-column {
  flex-direction: column;
}

div,
p,
form,
input,
a,
span,
button {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.4em;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 20px;
  font-weight: 700;
}

p {
  font-size: 15px;
  color: grey;
}

.card {
  height: 243px;
  width: 496px;
  padding: 24px;
  margin: 100px 0px 50px 0px;
  background-color: #fff;
  box-shadow: 3px 3px 10px grey;
  justify-content: space-between;
}

.card__date {
  height: 100%;
}

.card__mail {
  margin-top: 5px;
  height: 100%;
}

.card__location {
  height: 100%;
  display: flex;
  align-items: center;
}

.card__social {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.card__picture {
  position: relative;
  overflow: hidden;
  height: 195px;
  width: 200px;
}

.last-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 195px;
  width: 200px;
  object-fit: cover;
}
